backup_params:
  secrets: "{{ secrets }}"
  backup_name: "{{ backup_name }}"
  storage_file: "{{ storage_file }}"
  configuration_file: "{{ configuration_file }}"
keys:
  encryption_key_pw: "{{ encryption_key_pw }}"
  opsystem_pw: "{{ opsystem_pw }}"
  keystore_pw: "{{ keystore_pw }}"
  op_user_pwd: "{{ op_user_pwd }}"